{{ header }}
<div id="checkout-checkout" class="container">

    <div class="article-title">
        <h2>{{ heading_title }}</h2>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    

    <div class="wrapper">

       <div class="mod-content">
          <div class="row">
             <div class="col-xs-12">
                <div class="main mg_bt">
                   <div id="BoxShopping">
                      <div class="box_mid">
                         <div class="mid-content">
                            <div class="style_order">
                               <div class="style_step">
                                  <ul>
                                     <li class="active"><span class="number">1</span><span class="text">Giỏ hàng</span></li>
                                     <li class="active"><span class="number">2</span><span class="text">Thông tin và thanh toán</span></li>
                                     <li><span class="number">3</span><span class="text">Xác nhận hóa đơn</span></li>
                                     <li><span class="number">4</span><span class="text">Hoàn tất</span></li>
                                  </ul>
                                  <div class="clear"></div>
                               </div>

                                <div id="collapse-checkout-confirm"></div>
                                <div>
                                    <form action="" method="post" name="f_checkout" id="f_checkout" enctype="multipart/form-data" novalidate="true">
                                        <div class="info_order">
                                            <div class="col-md-8 f1st">
                                                <div class="info-order">
                                                    <div class="wrap-info-order">
                                                        <div class="div_title">Thông tin đặt hàng</div>
                                                        <div class="table-responsive">
                                                        <table class="table table-order">
                                                            <thead>
                                                            <tr>
                                                                <td width="285px">Tên sản phẩm</td>
                                                                <td width="112px" align="center">Giá</td>
                                                                <td width="61px" align="center">SL</td>
                                                                <td width="146px" align="center">Thành tiền</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for product in products %}
                                                                <tr>
                                                                    <td>
                                                                        {% if product.thumb %}
                                                                            <div class="img">
                                                                                <a href="{{ product.href }}">
                                                                                    <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                                                                </a>
                                                                            </div>
                                                                        {% endif %}
                                                                    
                                                                        <div class="title">
                                                                            <a href="{{ product.href }}">{{ product.name }}</a>
                                                                        </div>
                                                                    </td>
                                                                    <td align="right">{{ product.price }}</td>
                                                                    <td align="center">{{ product.quantity }}</td>
                                                                    <td>{{ product.total }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            <tr>
                                                                <td colspan="3" align="right">Tổng giỏ hàng</td>
                                                                <td>{{ totals_text }}</td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td colspan="3" align="right">Thành tiền</td>
                                                                <td>{{ totals_text }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="info_customer">
                                                    <div class="collapse-box" id="collapse-checkout-option"></div>
                                                    <div class="collapse-box" id="collapse-payment-address"></div>
                                                    <div class="collapse-box" id="collapse-shipping-address"></div>
                                                    <div class="collapse-box" id="collapse-shipping-method"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 s2nd">
                                                <!--<div class="info_method">
                                                    <div class="div_title">Phương thức giao hàng</div>
                                                    <div id="defaultSelected"  class="radio-button moduleRowSelected">
                                                        <label><input type="radio" name="rShipping"  value="shipping" checked="checked"><span>Giao hàng tận nơi</span></label>
                                                        <p>Theo chính sách giao hàng của công ty. Cước phí vận chuyển sẽ được thông báo trực tiếp đến khách hàng</p>
                                                    </div>
                                                    <div class="radio-button class ='moduleRow'">
                                                        <label><input type="radio" name="rShipping"  value="Nhà xe"><span>Gửi bảo đảm qua Dịch Vụ vận tải</span></label>
                                                        <p>&nbsp;Khách hàng phải thanh toán tiền trước khi giao hàng (chuyển khoản, nhờ người thân thanh toán hoặc thanh toán tại nhà xe dịch vụ vận tải ). Chúng tôi sẽ được hỗ trợ &nbsp;vận chuyển thông qua các nhà xe tạo sự thuận tiện nhất mà hàng có thể đến với khách hàng. Thời gian nhận hàng trung bình từ 3h-24h tùy theo nhà xe.</p>
                                                    </div>
                                                </div>-->
                                                <div class="info_method">
                                                    <div class="div_title">PHƯƠNG THỨC THANH TOÁN</div>
                                                    <div  class="radio-button">
                                                        <label class="radio-label"><input type="radio" name="payment_method" value="home" required="required" checked title=""><span>Thanh Toán Tại Nhà</span></label>
                                                        <p>Giao hàng và thu tiền tại nhà đối với các khách hàng ở khu vực Chi Nhánh trực thuộc của công ty và các vùng lân cận.</p>
                                                    </div>
                                                    <div  class="radio-button">
                                                        <label class="radio-label"><input type="radio" name="payment_method" value="alepay" required="required" title=""><span>Trả góp online</span></label>
                                                        <p>Thanh toán trả góp bằng thẻ tín dụng quốc tế Visa, Master, JCB</p>
                                                    </div>
                                                    <div  class="radio-button first-charge-option">
                                                        <label class="radio-label first-charge-label"><input type="radio" name="payment_method" value="nganluong" required="required" title=""><span>Thanh toán online thẻ ATM</span></label>
                                                        <p>Bằng thẻ ATM nội địa</p>
                                                    </div>
                                                    <div id="defaultSelected_payment" class="radio-button moduleRowSelected first-charge-option">
                                                        <label class="radio-label first-charge-label"><input type="radio" name="payment_method" value="alepay_qt" required="required" title=""><span>Thanh toán online thẻ quốc tế</span></label>
                                                        <p><strong>Thanh toán qua thẻ Visa, Master Card, JCB</strong><br>
                                                            Lưu ý: "Quý khách vui lòng nhập đúng thông tin họ và tên để thực hiện thanh toán và thực hiện xác nhận 3D – Secure".
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="info_method first-charge" style="display: none">
                                                    <div class="div_title">Trả trước</div>
                                                    <input type="number" class="form-control" name="comment_price" placeholder="Nhập số tiền muốn trả trước" />
                                                </div>
                                                <!--<div class="button-form text-right">
                                                    <input name="do_process" type="hidden" value="1">
                                                    <button type="button" disabled name="btnConfirm" value="TIẾP TỤC THANH TOÁN" class="btn dosubmit  btn-site" id="button-payment-method"><span>TIẾP TỤC THANH TOÁN</span>
                                                    </button>
                                                </div>-->

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="clearfix"></div>
       </div>
    </div>
    </div>
</div>
<script type="text/javascript"><!--


$(document).on('change', 'input[name=\'account\']', function() {
	if ($('#collapse-payment-address').parent().find('.panel-heading .panel-title > *').is('a')) {
		if (this.value == 'register') {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
		} else {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
		}
	} else {
		if (this.value == 'register') {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
		} else {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
		}
	}
});

{% if not logged %}
$(document).ready(function() {
    $.ajax({
        url: 'index.php?route=checkout/login',
        dataType: 'html',
        success: function(html) {

           $('#collapse-checkout-option').html(html);

        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% else %}
$(document).ready(function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address',
        dataType: 'html',
        success: function(html) {
            $('.collapse-box').hide();
            $('#collapse-payment-address').html(html);
            $('#collapse-payment-address').show();
            $('#button-payment-address-back').hide();

        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% endif %}

// Checkout
$(document).delegate('#button-account', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
        dataType: 'html',
        beforeSend: function() {
        	$('#button-account').button('loading');
		},
        complete: function() {
			$('#button-account').button('reset');
        },
        success: function(html) {
            $('.alert-dismissible, .text-danger').remove();

			$('.form-group').removeClass('has-error');

            $('.collapse-box').hide();
            $('#collapse-payment-address').html(html);
            $('#collapse-payment-address').show();

            //hide login
            $('#collapse-checkout-option').hide();

        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Login
$(document).delegate('#button-login', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/login/save',
        type: 'post',
        data: $('#collapse-checkout-option :input'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-login').button('loading');
		},
        complete: function() {
            $('#button-login').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#collapse-checkout-option').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				// Highlight any found errors
				$('input[name=\'email\']').parent().addClass('has-error');
				$('input[name=\'password\']').parent().addClass('has-error');
		   }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Register
$(document).delegate('#button-register', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/register/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        beforeSend: function() {
			$('#button-register').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-register').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-payment-address').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');

                if (shipping_address) {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        success: function(html) {
							// Add the shipping address
                            $.ajax({
                                url: 'index.php?route=checkout/shipping_address',
                                dataType: 'html',
                                success: function(html) {

                                    $('.collapse-box').hide();
                                    $('#collapse-shipping-address').html(html);
                                    $('#collapse-shipping-address').show();

                                    $('#collapse-payment-address').hide();

                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });

							//$('#collapse-shipping-method').html(html);

                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_address',
                        dataType: 'html',
                        success: function(html) {

                            $('.collapse-box').hide();
                            $('#collapse-shipping-address').html(html);
                            $('#collapse-shipping-address').show();

                            $('#collapse-payment-address').hide();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    success: function(html) {

                        $('#button-payment-method').prop('disabled', false);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                {% endif %}

                $.ajax({
                    url: 'index.php?route=checkout/payment_address',
                    dataType: 'html',
                    complete: function() {
                        $('#button-register').button('reset');
                    },
                    success: function(html) {

                        $('.collapse-box').hide();
                        $('#collapse-payment-address').html(html);
                        $('#collapse-payment-address').show();

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Payment Address
$(document).delegate('#button-payment-address', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-payment-address').button('loading');
		},
        complete: function() {
			$('#button-payment-address').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    $('#collapse-payment-address').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                $.ajax({
                    url: 'index.php?route=checkout/shipping_method',
                    dataType: 'html',
                    success: function(html) {
                        $('.collapse-box').hide();
                        $('#collapse-shipping-method').html(html);
                        $('#collapse-shipping-method').show();

                        $('#collapse-payment-address').hide();
                        $('#button-payment-method').prop('disabled', false);

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
       //                      $('#collapse-payment-address').html(html);
							// $('#collapse-payment-address').hide();
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				});
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    success: function(html) {

                        // open nut thanh toan
                        $('#button-payment-method').prop('disabled', false);

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
                            // $('#collapse-payment-address').html(html);
							// $('#collapse-payment-address').hide();
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});				
				});
                {% endif %}
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Shipping Address
$(document).delegate('#button-shipping-address', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_address/save',
        type: 'post',
        data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
        dataType: 'json',
        beforeSend: function() {
			$('#button-shipping-address').button('loading');
	    },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-shipping-address').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-address').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-shipping-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().parent().addClass('has-error');
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/shipping_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-shipping-address').button('reset');
                    },
                    success: function(html) {

                        $('.collapse-box').hide();
                        $('#collapse-shipping-method').html(html);
                        $('#collapse-shipping-method').show();

                        $('#button-payment-method').prop('disabled', false);
						
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_address',
                            dataType: 'html',
                            success: function(html) {
                                $('#collapse-shipping-address').html(html);
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
                            //$('#collapse-payment-address').html(html);
							//$('#collapse-payment-address').show();
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				});
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Guest
$(document).delegate('#button-guest', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/guest/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        beforeSend: function() {
       		$('#button-guest').button('loading');
	    },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-guest').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-payment-address').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

                if (shipping_address) {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        complete: function() {
                            $('#button-guest').button('reset');
                        },
                        success: function(html) {
							// Add the shipping address
                            $.ajax({
                                url: 'index.php?route=checkout/guest_shipping',
                                dataType: 'html',
                                success: function(html) {

                                    $('.collapse-box').hide();
                                    $('#collapse-shipping-address').html(html);
                                    $('#collapse-shipping-address').show();

                                    $('#collapse-payment-address').hide();

                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });

						    //$('#collapse-shipping-method').html(html);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/guest_shipping',
                        dataType: 'html',
                        complete: function() {
                            $('#button-guest').button('reset');
                        },
                        success: function(html) {
                            $('.collapse-box').hide();
                            $('#collapse-shipping-address').html(html);
                            $('#collapse-shipping-address').show();

                            $('#collapse-payment-address').hide();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-guest').button('reset');
                    },
                    success: function(html) {

                        //open nut checkout
                        $('#button-payment-method').prop('disabled', false);

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                {% endif %}
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Guest Shipping
$(document).delegate('#button-guest-shipping', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/guest_shipping/save',
        type: 'post',
        data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-guest-shipping').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-guest-shipping').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-address').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-shipping-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/shipping_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-guest-shipping').button('reset');
                    },
                    success: function(html) {
                        $('.collapse-box').hide();
                        $('#collapse-shipping-method').html(html);
                        $('#collapse-shipping-method').show();

                        $('#collapse-shipping-address').hide();
                        $('#button-payment-method').prop('disabled', false);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-shipping-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_method/save',
        type: 'post',
        data: $('#collapse-shipping-method input[type=\'radio\']:checked, #collapse-shipping-method textarea'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-shipping-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-shipping-method').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-method').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-shipping-method').button('reset');
                    },
                    success: function(html) {

                        //open nut checkout
                        $('#button-payment-method').prop('disabled', false);

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-payment-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: $('.info_method input[type=\'radio\']:checked, .info_method input[type=\'checkbox\']:checked, .info_method input[type=\'text\']'),
        dataType: 'json',
        beforeSend: function() {
         	$('#button-payment-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-payment-method').button('reset');
                
                if (json['error']['warning']) {
                    $('#collapse-payment-method').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/confirm',
                    dataType: 'html',
                    complete: function() {
                        $('#button-payment-method').button('reset');
                    },
                    success: function(html) {
                        //redirect sang trang confirm
                        $('#collapse-checkout-confirm').html(html);
                        $('#collapse-checkout-confirm').show();
                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                        $(".style_step ul li:nth-child(3)").addClass('active');

                        $('#f_checkout').hide();
					},
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-register-back', 'click', function() {
    $('#collapse-checkout-option').show();
    $('#collapse-payment-address').hide();
});

$(document).delegate('#button-guest-back', 'click', function() {
    $('#collapse-checkout-option').show();
    $('#collapse-payment-address').hide();
});

$(document).delegate('#button-shipping-address-back', 'click', function() {
    $('#collapse-payment-address').show();
    $('#collapse-shipping-address').hide();
});

$(document).delegate('#button-guest-shipping-back', 'click', function() {
    $('#collapse-payment-address').show();
    $('#collapse-shipping-address').hide();
});

$(document).delegate('#button-shipping-method-back', 'click', function() {
    $('#collapse-payment-address').show();
    $('#collapse-shipping-method').hide();
});

$(document).delegate('#button-payment-address-back', 'click', function() {
    $('#collapse-checkout-option').show();
    $('#collapse-payment-address').hide();
});

$(document).delegate('#button-payment-finish-back', 'click', function() {
    $('#f_checkout').show();
    $('#collapse-checkout-confirm').hide();
    $(".style_step ul li:nth-child(3)").removeClass('active');
});



$(document).delegate('.radio-label', 'click', function() {
    if( $(this).hasClass('first-charge-label') ) {
        $('.first-charge').show();
    }else {
        $('.first-charge').hide();
    }
})
//--></script>
{{ footer }}