{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    
    <div class="wrapper">
       <div class="mod-content">
          <div class="row">
             <div class="col-xs-12">
                <div class="main mg_bt">
                   <div id="BoxShopping">
                      <div class="box_mid">
                         <div class="mid-title">
                            <div class="titleL">
                               <h1>{{ heading_title }}</h1>
                            </div>
                            <div class="titleR"></div>
                            <div class="clear"></div>
                         </div>
                         <div class="mid-content">
                            <div class="style_order">
                               <div class="style_step">
                                  <ul>
                                     <li class="active"><span class="number">1</span><a href="https://www.kingsport.vn/san-pham/cart.html" class="text">Giỏ hàng</a></li>
                                     <li class="active"><span class="number">2</span><a href="https://www.kingsport.vn/san-pham/checkout_method.html" class="text">THÔNG TIN VÀ THANH TOÁN</a></li>
                                     <li><span class="number">3</span><span class="text">Xác nhận hóa đơn</span></li>
                                     <li><span class="number">4</span><span class="text">Hoàn tất</span></li>
                                  </ul>
                                  <div class="clear"></div>
                               </div>
                               <form action="" method="post" name="f_checkout" id="f_checkout" enctype="multipart/form-data" novalidate="true">
                                  <div class="info_order">
                                     <div class="info_col f1st">
                                        <div class="info-order">
                                           <div class="wrap-info-order">
                                              <div class="div_title">Thông tin đặt hàng</div>
                                              <table class="table-order">
                                                 <thead>
                                                    <tr>
                                                       <td width="285px">Tên sản phẩm</td>
                                                       <td width="112px" align="center">Giá</td>
                                                       <td width="61px" align="center">SL</td>
                                                       <td width="146px" align="center">Thành tiền</td>
                                                    </tr>
                                                 </thead>
                                                 <tbody>
                                                    {% for product in products %}
                                                    <tr>
                                                       <td>
                                                            {% if product.thumb %}
                                                          <div class="img">
                                                            <a href="{{ product.href }}">
                                                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                                            </a>
                                                          </div>
                                                            {% endif %}
                                                          <div class="title"><a href="{{ product.href }}">{{ product.name }}</a></div>
                                                       </td>
                                                       <td align="right">{{ product.price }}</td>
                                                       <td align="center">{{ product.quantity }}</td>
                                                       <td>{{ product.total }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                       <td colspan="3" align="right">Tổng giỏ hàng</td>
                                                       <td>{{ totals_text }}</td>
                                                    </tr>
                                                    <tr></tr>
                                                    <tr>
                                                       <td colspan="3" align="right">Thành tiền</td>
                                                       <td>{{ totals_text }}</td>
                                                    </tr>
                                                 </tbody>
                                              </table>
                                           </div>
                                        </div>
                                        <div class="info_customer">
                                           <div class="div_title">THÔNG TIN GIAO HÀNG</div>
                                           <div class="info-form">
                                              <div class="info-row gender_row"><label><input type="radio" name="gender" value="0" checked="checked">Nữ</label> <label><input type="radio" name="gender" value="1">Nam</label></div>
                                              <div class="info-row"><input type="text" name="d_name" value="duc nguyen" placeholder="Họ tên *" required="required" data-required-error="" class="form-control name"></div>
                                              <div class="info-row"><input type="text" name="d_email" value="thducuit@gmail.com" placeholder="Email" class="form-control email"></div>
                                              <div class="info-row"><input type="text" name="d_phone" value="0922222222222" placeholder="Điện thoại *" required="required" class="form-control phone"></div>
                                              <div class="info-row"><input type="text" name="d_address" value="hn" placeholder="Địa chỉ *" required="required" class="form-control address"></div>
                                              <div class="info-row">
                                                 <select name="d_city" id="d_city" required="required" class="form-control">
                                                    <option value="">Chọn Tỉnh/ Thành Phố</option>
                                                    <option value="1">Hà Nội</option>
                                                    <option value="2">TP.Hồ Chí Minh</option>
                                                    <option value="3">Hải Phòng</option>
                                                    <option value="4">Đà Nẵng</option>
                                                    <option value="5">Cần Thơ</option>
                                                    <option value="51">Bình Dương</option>
                                                    <option value="56">Đồng Nai</option>
                                                    <option value="60">Bà Rịa - Vũng Tàu</option>
                                                    <option value="40">Thừa Thiên - Huế</option>
                                                    <option value="10">Hà Giang</option>
                                                    <option value="16">Điện Biên</option>
                                                    <option value="17">Lạng Sơn</option>
                                                    <option value="18">Thái Nguyên</option>
                                                    <option value="19">Bắc Cạn</option>
                                                    <option value="7">Lai Châu</option>
                                                    <option value="20" selected="selected">Yên Bái</option>
                                                    <option value="6">Cao Bằng</option>
                                                    <option value="21">Sơn La</option>
                                                    <option value="22">Phú Thọ</option>
                                                    <option value="23">Vĩnh Phúc</option>
                                                    <option value="24">Quảng Ninh</option>
                                                    <option value="25">Bắc Ninh</option>
                                                    <option value="26">Bắc Giang</option>
                                                    <option value="27">Hà Tây</option>
                                                    <option value="28">Hòa Bình</option>
                                                    <option value="29">Hải Dương</option>
                                                    <option value="30">Hưng Yên</option>
                                                    <option value="31">Hà Nam</option>
                                                    <option value="32">Nam Định</option>
                                                    <option value="33">Thái Bình</option>
                                                    <option value="8">Lào Cai</option>
                                                    <option value="34">Thanh Hóa</option>
                                                    <option value="9">Tuyên Quang</option>
                                                    <option value="35">Ninh Bình</option>
                                                    <option value="36">Nghệ An</option>
                                                    <option value="37">Hà Tĩnh</option>
                                                    <option value="38">Quảng Bình</option>
                                                    <option value="39">Quảng Trị</option>
                                                    <option value="41">Quảng Nam</option>
                                                    <option value="42">Quảng Ngãi</option>
                                                    <option value="43">Kon Tum</option>
                                                    <option value="44">Bình Định</option>
                                                    <option value="45">Gia Lai</option>
                                                    <option value="46">Phú Yên</option>
                                                    <option value="47">Đắk Lắk</option>
                                                    <option value="48">Đắk Nông</option>
                                                    <option value="49">Khánh Hòa</option>
                                                    <option value="50">Lâm Đồng</option>
                                                    <option value="52">Bình Phước</option>
                                                    <option value="53">Ninh Thuận</option>
                                                    <option value="54">Tây Ninh</option>
                                                    <option value="55">Bình Thuận</option>
                                                    <option value="57">Long An</option>
                                                    <option value="58">Đồng Tháp</option>
                                                    <option value="59">An Giang</option>
                                                    <option value="61">Tiền Giang</option>
                                                    <option value="62">Kiên Giang</option>
                                                    <option value="63">Bến Tre</option>
                                                    <option value="64">Vĩnh Long</option>
                                                    <option value="65">Trà Vinh</option>
                                                    <option value="66">Sóc Trăng</option>
                                                    <option value="67">Hậu Giang</option>
                                                    <option value="68">Bạc Liêu</option>
                                                    <option value="69">Cà Mau</option>
                                                 </select>
                                              </div>
                                              <div class="info-row">
                                                 <select name="d_state" id="d_state" required="required" class="form-control">
                                                    <option value="">Chọn Quận huyện</option>
                                                    <option value="738" class="20">Lục Yên</option>
                                                    <option value="739" class="20">Mù Căng Chải</option>
                                                    <option value="740" selected="selected" class="20">TP. Yên Bái</option>
                                                    <option value="741" class="20">Trạm Tấu</option>
                                                    <option value="742" class="20">Trấn Yên</option>
                                                    <option value="743" class="20">TX. Nghĩa Lộ</option>
                                                    <option value="744" class="20">Văn Chấn</option>
                                                    <option value="745" class="20">Văn Yên</option>
                                                    <option value="746" class="20">Yên Bình</option>
                                                 </select>
                                              </div>
                                              <div class="info-row"><label class="checkother"><input type="checkbox" name="o-check" id="o-check" value="1"> <span class="info_ship">Giao hàng tại địa chỉ khác</span></label></div>
                                              <div class="info-row">
                                                 <div id="dcGiao" style="display: none">
                                                    <div class="div_title">Địa chỉ giao hàng</div>
                                                    <div class="info-form">
                                                       <div class="info-row"><input type="text" name="c_name" placeholder="Họ tên  *" class="form-control name"></div>
                                                       <div class="info-row"><input type="text" name="c_email" placeholder="Email *" class="form-control email"></div>
                                                       <div class="info-row"><input type="text" name="c_phone" placeholder="Điện thoại *" class="form-control phone"></div>
                                                       <div class="info-row"><input type="text" name="c_address" placeholder="Địa chỉ *" class="form-control address"></div>
                                                       <div class="info-row">
                                                          <select name="c_city" id="c_city" class="form-control">
                                                             <option value="">Chọn Tỉnh/ Thành Phố</option>
                                                             <option value="1">Hà Nội</option>
                                                             <option value="2">TP.Hồ Chí Minh</option>
                                                             <option value="3">Hải Phòng</option>
                                                             <option value="4">Đà Nẵng</option>
                                                             <option value="5">Cần Thơ</option>
                                                             <option value="51">Bình Dương</option>
                                                             <option value="56">Đồng Nai</option>
                                                             <option value="60">Bà Rịa - Vũng Tàu</option>
                                                             <option value="40">Thừa Thiên - Huế</option>
                                                             <option value="10">Hà Giang</option>
                                                             <option value="16">Điện Biên</option>
                                                             <option value="17">Lạng Sơn</option>
                                                             <option value="18">Thái Nguyên</option>
                                                             <option value="19">Bắc Cạn</option>
                                                             <option value="7">Lai Châu</option>
                                                             <option value="20" selected="selected">Yên Bái</option>
                                                             <option value="6">Cao Bằng</option>
                                                             <option value="21">Sơn La</option>
                                                             <option value="22">Phú Thọ</option>
                                                             <option value="23">Vĩnh Phúc</option>
                                                             <option value="24">Quảng Ninh</option>
                                                             <option value="25">Bắc Ninh</option>
                                                             <option value="26">Bắc Giang</option>
                                                             <option value="27">Hà Tây</option>
                                                             <option value="28">Hòa Bình</option>
                                                             <option value="29">Hải Dương</option>
                                                             <option value="30">Hưng Yên</option>
                                                             <option value="31">Hà Nam</option>
                                                             <option value="32">Nam Định</option>
                                                             <option value="33">Thái Bình</option>
                                                             <option value="8">Lào Cai</option>
                                                             <option value="34">Thanh Hóa</option>
                                                             <option value="9">Tuyên Quang</option>
                                                             <option value="35">Ninh Bình</option>
                                                             <option value="36">Nghệ An</option>
                                                             <option value="37">Hà Tĩnh</option>
                                                             <option value="38">Quảng Bình</option>
                                                             <option value="39">Quảng Trị</option>
                                                             <option value="41">Quảng Nam</option>
                                                             <option value="42">Quảng Ngãi</option>
                                                             <option value="43">Kon Tum</option>
                                                             <option value="44">Bình Định</option>
                                                             <option value="45">Gia Lai</option>
                                                             <option value="46">Phú Yên</option>
                                                             <option value="47">Đắk Lắk</option>
                                                             <option value="48">Đắk Nông</option>
                                                             <option value="49">Khánh Hòa</option>
                                                             <option value="50">Lâm Đồng</option>
                                                             <option value="52">Bình Phước</option>
                                                             <option value="53">Ninh Thuận</option>
                                                             <option value="54">Tây Ninh</option>
                                                             <option value="55">Bình Thuận</option>
                                                             <option value="57">Long An</option>
                                                             <option value="58">Đồng Tháp</option>
                                                             <option value="59">An Giang</option>
                                                             <option value="61">Tiền Giang</option>
                                                             <option value="62">Kiên Giang</option>
                                                             <option value="63">Bến Tre</option>
                                                             <option value="64">Vĩnh Long</option>
                                                             <option value="65">Trà Vinh</option>
                                                             <option value="66">Sóc Trăng</option>
                                                             <option value="67">Hậu Giang</option>
                                                             <option value="68">Bạc Liêu</option>
                                                             <option value="69">Cà Mau</option>
                                                          </select>
                                                       </div>
                                                       <div class="info-row">
                                                          <select name="c_state" id="c_state" class="form-control">
                                                             <option value="">Chọn Quận huyện</option>
                                                             <option value="738" class="20">Lục Yên</option>
                                                             <option value="739" class="20">Mù Căng Chải</option>
                                                             <option value="740" selected="selected" class="20">TP. Yên Bái</option>
                                                             <option value="741" class="20">Trạm Tấu</option>
                                                             <option value="742" class="20">Trấn Yên</option>
                                                             <option value="743" class="20">TX. Nghĩa Lộ</option>
                                                             <option value="744" class="20">Văn Chấn</option>
                                                             <option value="745" class="20">Văn Yên</option>
                                                             <option value="746" class="20">Yên Bình</option>
                                                          </select>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="info-row"><textarea name="comment" placeholder="Ghi chú" class="form-control"></textarea></div>
                                              <div class="info-row"><label class="checkbill"><input type="checkbox" name="b-check" id="b-check"> <span class="info_bill">Thông tin xuất hóa đơn ( nếu cần thiết )</span></label></div>
                                              <div class="info-row">
                                                 <div id="info_bill" style="display: none">
                                                    <div class="info-form">
                                                       <div class="info-row"><input type="text" name="tax_company" value="" placeholder="Tên công ty" class="form-control tax_company"></div>
                                                       <div class="info-row"><input type="text" name="tax_address" value="" placeholder="Địa chỉ" class="form-control tax_address"></div>
                                                       <div class="info-row"><input type="text" name="tax_code" value="" placeholder="Mã số thuế" class="form-control tax_code"></div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="info_col s2nd">
                                        <div class="info_method">
                                           <div class="div_title">Phương thức giao hàng</div>
                                           <div id="defaultSelected" onclick="rowOverEffect(this,0);" class="radio-button moduleRowSelected">
                                              <label><input type="radio" name="rShipping" id="rShipping" value="shipping" checked="checked"><span>Giao hàng tận nơi</span></label> 
                                              <p>Theo chính sách giao hàng của công ty. Cước phí vận chuyển sẽ được thông báo trực tiếp đến khách hàng</p>
                                           </div>
                                           <div onclick="rowOverEffect(this,1);" class="radio-button class ='moduleRow'">
                                              <label><input type="radio" name="rShipping" id="rShipping" value="Nhà xe"><span>Gửi bảo đảm qua Dịch Vụ vận tải</span></label> 
                                              <p>&nbsp;Khách hàng phải thanh toán tiền trước khi giao hàng (chuyển khoản, nhờ người thân thanh toán hoặc thanh toán tại nhà xe dịch vụ vận tải ). Chúng tôi sẽ được hỗ trợ &nbsp;vận chuyển thông qua các nhà xe tạo sự thuận tiện nhất mà hàng có thể đến với khách hàng. Thời gian nhận hàng trung bình từ 3h-24h tùy theo nhà xe.</p>
                                           </div>
                                        </div>
                                        <div class="info_method">
                                           <div class="div_title">PHƯƠNG THỨC THANH TOÁN</div>
                                           <div onclick="rowOverEffect_Payment(this, 0);" class="radio-button class ='moduleRow'">
                                              <label><input type="radio" name="rPayment" id="rPayment" value="tại nhà" required="required" title=""><span>Thanh Toán Tại Nhà</span></label> 
                                              <p>Giao hàng và thu tiền tại nhà đối với các khách hàng ở khu vực Chi Nhánh trực thuộc của công ty và các vùng lân cận.</p>
                                           </div>
                                           <div onclick="rowOverEffect_Payment(this, 1);" class="radio-button class ='moduleRow'">
                                              <label><input type="radio" name="rPayment" id="rPayment" value="alepay" required="required" title=""><span>TRẢ GÓP ONLINE</span></label> 
                                              <p>Thanh toán trả góp bằng thẻ tín dụng quốc tế Visa, Master, JCB</p>
                                           </div>
                                           <div onclick="rowOverEffect_Payment(this, 2);" class="radio-button class ='moduleRow'">
                                              <label><input type="radio" name="rPayment" id="rPayment" value="nganluong" required="required" title=""><span>THANH TOÁN ONLINE THẺ ATM</span></label> 
                                              <p>Bằng thẻ ATM nội địa</p>
                                           </div>
                                           <div id="defaultSelected_payment" onclick="rowOverEffect_Payment(this, 3);" class="radio-button moduleRowSelected">
                                              <label><input type="radio" name="rPayment" id="rPayment" value="alepay_qt" checked="checked" required="required" title=""><span>THANH TOÁN ONLINE THẺ QUỐC TẾ</span></label> 
                                              <p><strong>Thanh toán qua thẻ Visa, Master Card, JCB</strong><br>
                                                 Lưu ý: "Quý khách vui lòng nhập đúng thông tin họ và tên để thực hiện thanh toán và thực hiện xác nhận 3D – Secure".
                                              </p>
                                           </div>
                                        </div>
                                        <div class="io-button"><input name="do_process" type="hidden" value="1"> <button type="submit" name="btnConfirm" value="TIẾP TỤC THANH TOÁN" class="btn dosubmit"><span>TIẾP TỤC THANH TOÁN</span></button></div>
                                     </div>
                                     <div class="clear"></div>
                                  </div>
                               </form>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="clear"></div>
       </div>
    </div>
    </div>
</div>
<script type="text/javascript"><!--
$(document).on('change', 'input[name=\'account\']', function() {
	if ($('#collapse-payment-address').parent().find('.panel-heading .panel-title > *').is('a')) {
		if (this.value == 'register') {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
		} else {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
		}
	} else {
		if (this.value == 'register') {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
		} else {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
		}
	}
});

{% if not logged %}
$(document).ready(function() {
    $.ajax({
        url: 'index.php?route=checkout/login',
        dataType: 'html',
        success: function(html) {
           $('#collapse-checkout-option .panel-body').html(html);

			$('#collapse-checkout-option').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-option" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_option }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#collapse-checkout-option\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% else %}
$(document).ready(function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address',
        dataType: 'html',
        success: function(html) {
            $('#collapse-payment-address .panel-body').html(html);

			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#collapse-payment-address\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% endif %}

// Checkout
$(document).delegate('#button-account', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
        dataType: 'html',
        beforeSend: function() {
        	$('#button-account').button('loading');
		},
        complete: function() {
			$('#button-account').button('reset');
        },
        success: function(html) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            $('#collapse-payment-address .panel-body').html(html);

			if ($('input[name=\'account\']:checked').val() == 'register') {
				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
			} else {
				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
			}

			$('a[href=\'#collapse-payment-address\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Login
$(document).delegate('#button-login', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/login/save',
        type: 'post',
        data: $('#collapse-checkout-option :input'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-login').button('loading');
		},
        complete: function() {
            $('#button-login').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#collapse-checkout-option .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				// Highlight any found errors
				$('input[name=\'email\']').parent().addClass('has-error');
				$('input[name=\'password\']').parent().addClass('has-error');
		   }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Register
$(document).delegate('#button-register', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/register/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        beforeSend: function() {
			$('#button-register').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-register').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');

                if (shipping_address) {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        success: function(html) {
							// Add the shipping address
                            $.ajax({
                                url: 'index.php?route=checkout/shipping_address',
                                dataType: 'html',
                                success: function(html) {
                                    $('#collapse-shipping-address .panel-body').html(html);

									$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });

							$('#collapse-shipping-method .panel-body').html(html);

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

   							$('a[href=\'#collapse-shipping-method\']').trigger('click');

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_address',
                        dataType: 'html',
                        success: function(html) {
                            $('#collapse-shipping-address .panel-body').html(html);

							$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

							$('a[href=\'#collapse-shipping-address\']').trigger('click');

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    success: function(html) {
                        $('#collapse-payment-method .panel-body').html(html);

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-payment-method\']').trigger('click');

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                {% endif %}

                $.ajax({
                    url: 'index.php?route=checkout/payment_address',
                    dataType: 'html',
                    complete: function() {
                        $('#button-register').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-payment-address .panel-body').html(html);

						$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Payment Address
$(document).delegate('#button-payment-address', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-payment-address').button('loading');
		},
        complete: function() {
			$('#button-payment-address').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                $.ajax({
                    url: 'index.php?route=checkout/shipping_address',
                    dataType: 'html',
                    success: function(html) {
                        $('#collapse-shipping-address .panel-body').html(html);

						$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-shipping-address\']').trigger('click');

						$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address .panel-body').html(html);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				});
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    success: function(html) {
                        $('#collapse-payment-method .panel-body').html(html);

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-payment-method\']').trigger('click');

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address .panel-body').html(html);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});				
				});
                {% endif %}
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Shipping Address
$(document).delegate('#button-shipping-address', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_address/save',
        type: 'post',
        data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
        dataType: 'json',
        beforeSend: function() {
			$('#button-shipping-address').button('loading');
	    },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-shipping-address').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-address .panel-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-shipping-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().parent().addClass('has-error');
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/shipping_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-shipping-address').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-shipping-method .panel-body').html(html);

						$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-shipping-method\']').trigger('click');

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
						
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_address',
                            dataType: 'html',
                            success: function(html) {
                                $('#collapse-shipping-address .panel-body').html(html);
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address .panel-body').html(html);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				});
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Guest
$(document).delegate('#button-guest', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/guest/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        beforeSend: function() {
       		$('#button-guest').button('loading');
	    },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-guest').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

                if (shipping_address) {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        complete: function() {
                            $('#button-guest').button('reset');
                        },
                        success: function(html) {
							// Add the shipping address
                            $.ajax({
                                url: 'index.php?route=checkout/guest_shipping',
                                dataType: 'html',
                                success: function(html) {
                                    $('#collapse-shipping-address .panel-body').html(html);

									$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });

						    $('#collapse-shipping-method .panel-body').html(html);

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

							$('a[href=\'#collapse-shipping-method\']').trigger('click');

							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/guest_shipping',
                        dataType: 'html',
                        complete: function() {
                            $('#button-guest').button('reset');
                        },
                        success: function(html) {
                            $('#collapse-shipping-address .panel-body').html(html);

							$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

							$('a[href=\'#collapse-shipping-address\']').trigger('click');

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-guest').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-payment-method .panel-body').html(html);

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-payment-method\']').trigger('click');

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                {% endif %}
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Guest Shipping
$(document).delegate('#button-guest-shipping', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/guest_shipping/save',
        type: 'post',
        data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-guest-shipping').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-guest-shipping').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-address .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-shipping-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/shipping_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-guest-shipping').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-shipping-method .panel-body').html(html);

						$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i>');

						$('a[href=\'#collapse-shipping-method\']').trigger('click');

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-shipping-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_method/save',
        type: 'post',
        data: $('#collapse-shipping-method input[type=\'radio\']:checked, #collapse-shipping-method textarea'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-shipping-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-shipping-method').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-method .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-shipping-method').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-payment-method .panel-body').html(html);

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-payment-method\']').trigger('click');

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-payment-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
        dataType: 'json',
        beforeSend: function() {
         	$('#button-payment-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-payment-method').button('reset');
                
                if (json['error']['warning']) {
                    $('#collapse-payment-method .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/confirm',
                    dataType: 'html',
                    complete: function() {
                        $('#button-payment-method').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-checkout-confirm .panel-body').html(html);

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-confirm" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_confirm }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-checkout-confirm\']').trigger('click');
					},
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
{{ footer }}