{% if not redirect %}
    

<form action="#" method="post" name="f_checkout_2" id="f_checkout_2">
  <div class="info_order">
     <div class="col-md-8 f1st">
        <div class="info-order">
           <div class="wrap-info-order">
              <div class="div_title">Thông tin đặt hàng</div>
              <div class="table-responsive">
              <table class="table table-order">
                 <thead>
                    <tr>
                       <td width="285px">Tên sản phẩm</td>
                       <td width="112px" align="center">Giá</td>
                       <td width="61px" align="center">SL</td>
                       <td width="146px" align="center">Thành tiền</td>
                    </tr>
                 </thead>
                 <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                          {% if product.thumb %}
                              <div class="img">
                                  <a href="{{ product.href }}">
                                      <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                  </a>
                              </div>
                          {% endif %}
                          <div class="title"><a href="{{ product.href }}">{{ product.name }}</a></div>
                      </td>
                      <td align="right">{{ product.price }}</td>
                      <td align="center">{{ product.quantity }}</td>
                      <td>{{ product.total }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                       <td colspan="3" align="right">Tổng giỏ hàng</td>
                       <td>{{ totals_text }}</td>
                    </tr>
                    <tr>
                       <td colspan="3" align="right">Thành tiền</td>
                       <td>{{ totals_text }}</td>
                    </tr>
                 </tbody>
              </table>
              </div>
           </div>
        </div>
     </div>

     <div class="col-md-4 s2nd">
        <div style="margin-bottom: 30px;" class="info_customer">
           <div class="div_title">Thông tin đặt hàng</div>
           <div>
              <div class="sub_title">Thông tin thanh toán</div>
              <div class="info-form">
                 Họ tên: <b>{{ order['firstname'] }} {{ order['lastname'] }}</b><br>
                 Địa chỉ : {{ order['payment_address_1'] }}<br>
                 Điện thoại : {{ order['telephone'] }}<br>
                 E-mail : {{ order['email'] }}
              </div>
           </div>
           <div>
              <div class="sub_title">Thông tin giao hàng</div>
              <div class="info-form">
                 Họ tên: <b>{{ order['shipping_firstname'] }} {{ order['shipping_lastname'] }}</b><br>
                 Địa chỉ : {{ order['shipping_address_1'] }}<br>
                 Điện thoại : {{ order['telephone'] }}
              </div>
           </div>
           <div>
              <div class="sub_title">Phương thức giao hàng</div>
              <div class="info-form">
                 <strong>Giao hàng tận nơi</strong> 
                 <div>Theo chính sách giao hàng của công ty. Cước phí vận chuyển sẽ được thông báo trực tiếp đến khách hàng</div>
              </div>
           </div>
           <div class="last_f">
              <div class="sub_title">Phương thức thanh toán</div>
              <div class="info-form">
                 {% if method == 'home' %}   
                 <strong>Thanh Toán Tại Nhà</strong> 
                 <div>Giao hàng và thu tiền tại nhà đối với các khách hàng ở khu vực Chi Nhánh trực thuộc của công ty và các vùng lân cận.</div>
                 {% endif %}
                 {% if method == 'alepay' %}   
                 <strong>Trả góp online</strong> 
                 <div>Thanh toán trả góp bằng thẻ tín dụng quốc tế Visa, Master, JCB</div>
                 {% endif %}
                 {% if method == 'nganluong' %}   
                 <strong>Thanh toán online thẻ ATM</strong> 
                 <div>Bằng thẻ ATM nội địa</div>
                 {% endif %}
                 {% if method == 'alepay_qt' %}   
                 <strong>Thanh toán online thẻ quốc tế</strong> 
                 <div><strong>Thanh toán qua thẻ Visa, Master Card, JCB</strong><br>
                                                            Lưu ý: "Quý khách vui lòng nhập đúng thông tin họ và tên để thực hiện thanh toán và thực hiện xác nhận 3D – Secure".</div>
                 {% endif %}
              </div>
           </div>
        </div>
        <div class="buttons clearfix">
          <div class="row">
            <div class="col-xs-6">
              <button class="btn btn-default  btn-ks btn-block" id="button-payment-finish-back" type="button">{{ button_back }}</button>
            </div>
            <div class="col-xs-6">
              <input type="button" value="Xác nhận" id="button-payment-finish" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-ks btn-block"/>
            </div>
          </div>
        </div>
     </div>
     <div class="clearfix"></div>
  </div>
</form>
    <script type="text/javascript"><!--
        $(document).delegate('#button-payment-finish', 'click', function () {
            $.ajax({
                url: 'index.php?route=checkout/confirm/finish',
                type: 'post',
                data: {},
                dataType: 'json',
                beforeSend: function () {
                    $('#button-payment-finish').button('loading');
                },
                success: function (json) {
                    $('.alert-dismissible, .text-danger').remove();

                    if (json['redirect']) {
                        location = json['redirect'];
                    } else if (json['error']) {
                        $('#button-payment-finish').button('reset');

                        if (json['error']['warning']) {
                            $('#collapse-checkout-confirm').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
        //--></script>
{% else %}
    <script type="text/javascript"><!--
        location = '{{ redirect }}';
        //--></script>
{% endif %} 