<section class="map-showroom">
	<div class="container">
		<div class="map-showroom-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="address-title"><i class="mdi mdi-map-marker"></i><span>King Sport</span>
						<h2>98 showroom trên toàn quốc</h2>
					</div>
				</div>
				<div class="col-12 col-lg-3 center">
					<div class="showroom-map"><img src="catalog/view/theme/kingsport/image/options-1/vietnamese-map.png" alt="Vietnamese map" /></div>
				</div>
				<div class="col-12 col-lg-9">
					<div class="row">
						<div class="col-12">
							<div class="map-showroom-nav">
								<div class="swiper-container" id="map-showroom-navigation">
									<div class="swiper-wrapper">
                                        {% for branch in branches %}
										<div class="swiper-slide"><a class="{{ branch.active  }}" href="javascript:void(0)">{{ branch.title }}</a></div>
                                        {% endfor %}
									</div>
								</div>
								<div class="button-prev-map"><i class="mdi mdi-chevron-left"></i></div>
								<div class="button-next-map"><i class="mdi mdi-chevron-right"></i></div>
							</div>
						</div>
						<div class="col-12">
							<div class="address-wrapper">
								<div class="swiper-container" id="map-showroom-address">
									<div class="swiper-wrapper">

                                        {% for branch in branches %}
										<div class="swiper-slide">
											<div class="row no-gutters scrollbar-wrapper">
												<div class="col-12 pad-0">
													<div class="row no-gutters overflow-scrollbar">
														
														{% for branch_child in branch.branches %}
														<div class="col-12 col-sm-6 col-lg-4">
															<div class="card">
																<h3>{{ branch_child.title }}</h3>
																<p>{{ branch_child.address }}</p>
																<p>Điện thoại: {{ branch_child.phone }}</p>
																<p>Xem Bản Đồ {% if branch_child.parking %}(Có chỗ đậu ô tô){% endif %}</p>
															</div>
														</div>
                                                        {% endfor %}
                                                        
													</div>
												</div>
											</div>
										</div>
                                        {% endfor %}

									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile-text">
								<p>Đội ngũ KingSport luôn sẵn sàng phục vụ quý khách trên toàn quốc một cách nhiệt tình</p>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile-button"><a href="#">Tìm cửa hàng gần nhất</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>