<section class="kingsport-bottom-banner">
				<div class="container">
					<div class="row banner-row-wrapper">
						<div class="col-6 col-md-4 col-xl-2 pad-mobile">
							<figure class="figure">
								<div class="figure-image"><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/banner/banner-icon-1.png" alt="Uy tin lâu năm"></div>
								<div class="figure-caption">
									<p>Uy tin lâu năm</p>
								</div>
							</figure>
						</div>
						<div class="col-6 col-md-4 col-xl-2 pad-mobile">
							<figure class="figure">
								<div class="figure-image"><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/banner/banner-icon-2.png" alt="giao hàng miễn phí"></div>
								<div class="figure-caption">
									<p>giao hàng miễn phí</p>
								</div>
							</figure>
						</div>
						<div class="col-6 col-md-4 col-xl-2 pad-mobile">
							<figure class="figure">
								<div class="figure-image"><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/banner/banner-icon-3.png" alt="Ông hoàng sức khỏa"></div>
								<div class="figure-caption">
									<p>Ông hoàng sức khỏa</p>
								</div>
							</figure>
						</div>
						<div class="col-6 col-md-4 col-xl-2 pad-mobile">
							<figure class="figure">
								<div class="figure-image"><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/banner/banner-icon-4.png" alt="kols tin dùng"></div>
								<div class="figure-caption">
									<p>kols tin dùng</p>
								</div>
							</figure>
						</div>
						<div class="col-6 col-md-4 col-xl-2 pad-mobile">
							<figure class="figure">
								<div class="figure-image"><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/banner/banner-icon-5.png" alt="hậu mãi trọn đời"></div>
								<div class="figure-caption">
									<p>hậu mãi trọn đời</p>
								</div>
							</figure>
						</div>
						<div class="col-6 col-md-4 col-xl-2 pad-mobile">
							<figure class="figure">
								<div class="figure-image"><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/banner/banner-icon-6.png" alt="showroom toàn quốc"></div>
								<div class="figure-caption">
									<p>showroom toàn quốc</p>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</section>
			<section class="kingsport-footer-2v2">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="footer-title">
								<h4>Quý khách nhập điện thoại để được tư vấn nhanh từ KINGSPORT</h4>
								<form class="form">
									<div class="form-group">
										<input class="form-control" id="formEmail" type="text" placeholder="Điện thoại của bạn"><a class="ripple" href="#">Tư vấn</a>
									</div>
								</form>
								<p>Chúng tôi sẽ không bao giờ chia sẻ số điện thoại của bạn với bên thứ ba.</p>
							</div>
						</div>
					</div>
					<div class="row space-bet">
						<div class="col-12 col-sm-6 col-lg-3">
							<div class="col-wrapper">
								<h4>Về kingsport</h4>
								<ul>
									{% for information in informations %}
                                    {% if information.left == 1 %}
									<li><a href="{{ information.href }}">{{ information.title }}</a></li>
                                    {% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<div class="col-wrapper">
								<h4>hướng dẫn</h4>
								<ul>
                                    {% for information in informations %}
										{% if information.left == 0 %}
										<li><a href="{{ information.href }}">{{ information.title }}</a></li>
                                    	{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<div class="col-wrapper">
								<h4>Xem thêm</h4>
								<ul>
									<li><a href="{{ blog }}">Tin tức</a></li>
									<li><a href="{{ job }}">Thông Tin Tuyển Dụng</a></li>
									<li><a href="{{ video }}">Video</a></li>
									<li><a href="{{ store }}">Hệ thống phân phối</a></li>
									<li><a href="#">Liên hệ</a></li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<h4>Facebook</h4>
							<div class="social-network" id="social-network">
								<div class="fb-page" data-href="https://www.facebook.com/kingsportvietnam/" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
									<blockquote class="fb-xfbml-parse-ignore" cite="https://www.facebook.com/kingsportvietnam/"><a href="https://www.facebook.com/kingsportvietnam/">kingsport.vn</a></blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-2v2-payment">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="footer-mobile-contact-options">
								<ul class="default-footer-select" data-selected-value="ted">
									<li class="default-select-options"><span>Các thông tin khác</span></li>
									<ul class="options" id="footerMobileSelectedOption">
										<li data-value-selected="footer-options-1">Cách Thức Thanh Toán</li>
										<li data-value-selected="footer-options-2">Chính Sách Trả Góp</li>
										<li data-value-selected="footer-options-3">Chứng nhận</li>
										<li data-value-selected="footer-options-4">Hỗ Trợ Nhanh</li>
									</ul>
								</ul>
							</div>
						</div>
					</div>
					<div class="row footer-contact-wrapper">
						<div class="col-12 col-md-6 col-xl-3 mb-option" id="footer-options-1">
							<div class="payment-partner-wrapper">
								<h4>cách thức thanh toán</h4>
								<div class="payment-partner-logo"><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-1.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-2.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-3.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-4.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-5.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-6.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-7.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-8.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-9.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-10.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-11.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-12.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-13.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-14.png" alt="Payment method connect to internet banking system"></a><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/bank/bank-15.png" alt="Payment method connect to internet banking system"></a></div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl-3 mb-option" id="footer-options-2">
							<div class="instalment-payment">
								<h4>Chính sách trả góp</h4><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/hd-saigon.png" alt="Chính sách trả góp HD SAI GON">
								<p>Tập đoàn Kingsport đã hợp tác cùng HD SAISON để mang đến cho khách hàng chương trình mua hàng trả góp với lãi suất cực kỳ hấp dẫn!</p>
								<p>Áp dụng tại hầu hết các hệ thống cửa hàng Kingsport trên toàn quốc.</p>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl-3 mb-option" id="footer-options-3">
							<div class="verification">
								<h4>chứng nhận</h4><img src="catalog/view/theme/kingsport/image/options-1/footer/verification.png" alt="chứng nhận">
								<h5>Công ty KingSport</h5>
								<p>Giấy CNĐKDN: 1238808576 – Ngày cấp: 06/5/2009.</p>
								<p>Cơ quan cấp: Phòng Đăng ký kinh doanh – Sở kế hoạch và Đầu tư TP.HCM</p>
								<p>Địa chỉ đăng ký kinh doanh: 1051-1053 Cách Mạng Tháng 8, P.7, Q.Tân Bình, TP.HCM.</p>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl-3 mb-option active-selected" id="footer-options-4">
							<div class="support">
								<h4>Hỗ trợ nhanh</h4>
								<h5>Mail hỗ trợ nhanh:</h5><a href="#">kingsport.vn@gmail.com</a>
								<h5>Tổng đài miễn phí:</h5>
								<div class="phone"><span><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/footer/contact-icon.png" alt="18006862">
											<p>18006862</p></a></span><span><a href="#"><img src="catalog/view/theme/kingsport/image/options-1/footer/contact-icon.png" alt="18006862">
											<p>18006862</p></a></span></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-2-design">
				<div class="container">
					<div class="row design-wrapper">
						<div class="col-12 col-lg-4 copy-right">
							<p>&#169; 2019 King Sport. All rights reserved. </p>
						</div>
					</div>
				</div>
			</section>
		</main>



		<script src="catalog/view/theme/kingsport/stylesheet/js/main.min.js" type="text/javascript"></script>   
		<script src="catalog/view/theme/kingsport/stylesheet/js/custom.js" type="text/javascript"></script>   
        {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
        {% endfor %}
        <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
        <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
        <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"></script>  
        <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>


		{% if not cookie_customer_branch %}
			<div id="store-location" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Chọn Showroom gần chỗ bạn</h4>
						</div>
						<div class="modal-body">
							<form action="">
								<select name="choose-branch" id="choose-branch">
									{% for branch in branches %}
									<option value="{{ branch.branch_category_id }}">{{ branch.title }}</option>
									{% endfor %}
								</select>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
							<button type="button" class="btn btn-primary">Chọn</button>
						</div>
					</div>

				</div>
			</div>
			<script>
				//$('#store-location').modal('show');
			</script>
		{% endif %}
		<script>
			$('#selectLocationOption li').on('click', function () {
				var id = $(this).data('value');
				var hotline = $(this).data('hotline');
				var support = $(this).data('support');
				var title = $(this).text();

				var html = '';
				var first_support = '';
				console.log(support);
				if(support) {
					var supports = support.toString().split(',');
	                for (var i = 0; i < supports.length; i++) {
	                    html += '<li>' + supports[i] + '</li>';
					}

					first_support = supports.length ? supports[0] : '';
				}
				
                $.ajax({
                    url: 'index.php?route=web/store/update',
					type: 'post',
					data: {id: id},
                    success: function(json) {
						$('.default-select-options span').text(title);
						$('.default-hotline').text(hotline);
						$('.default-hotline-option span').text(first_support);
						$('#selectHotlineOption').html(html);
					}
                });
            })
		</script>
		<script>
			window.fbAsyncInit = function() {
			FB.init({
			appId            : 'your-app-id',
			autoLogAppEvents : true,
			xfbml            : true,
			version          : 'v3.3'
			});
			};
		</script>
		<script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v3.3"></script>

    </body>
</html>