{{ header }}
<section class="kingsport-home-1v3">
	<div class="container">
		<div class="home-wrapper">
			
            {{ home_menu }}
            
			<div class="home-video-wrapper">
				<div class="row no-gutters">
					{{ home_banner }}
				</div>
			</div>
		</div>
	</div>
</section>

{{ mobile_home_menu }}

<section class="mobile-nav">
	<div class="swiper-container" id="swiper-mobile-nav">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-1.svg" alt="icon-mobile-ghemassage">
					<div class="swiper-slide-caption">
						<p>ghế massage</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-2.svg" alt="icon-mobile-giantadanang">
					<div class="swiper-slide-caption">
						<p>giàn tạ đa năng</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-3.svg" alt="icon-mobile-giaythethao">
					<div class="swiper-slide-caption">
						<p>giày thể thao</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-4.svg" alt="icon-mobile-maychaybo">
					<div class="swiper-slide-caption">
						<p>máy chạy bộ</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-5.svg" alt="icon-mobile-mayhutchankhong">
					<div class="swiper-slide-caption">
						<p>máy hút chân không</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-6.svg" alt="icon-mobile-mayrunggiamcan">
					<div class="swiper-slide-caption">
						<p>máy rung giảm cân</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-7.svg" alt="icon-mobile-mayxaysinhto">
					<div class="swiper-slide-caption">
						<p>máy xay sinh tố</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-8.svg" alt="icon-mobile-quatdieuhoa">
					<div class="swiper-slide-caption">
						<p>quạt điều hòa</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-9.svg" alt="icon-mobile-sanphamkhac">
					<div class="swiper-slide-caption">
						<p>sản phẩm khác</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-10.svg" alt="icon-mobile-sanphamthanhly">
					<div class="swiper-slide-caption">
						<p>sản phẩm thanh lý</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-11.svg" alt="icon-mobile-thamlotsan">
					<div class="swiper-slide-caption">
						<p>thảm lót sàn</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-12.svg" alt="icon-mobile-thietbiphonggym">
					<div class="swiper-slide-caption">
						<p>thiết bị phòng gym</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-13.svg" alt="icon-mobile-xedapthethao">
					<div class="swiper-slide-caption">
						<p>xe đạp thể thao</p>
					</div></a></div>
		</div>
	</div>
</section>

{{ recently_viewed }}

<section class="product-discount">
	<div class="container">
		<div class="product-wrapper">
			<div class="product-tab-nav">
				<ul id="product-discount">
					<li class="active"><a href="javascript:void(0)" data-type="tab-1">Sản phẩm khuyến mãi</a></li>
					<li><a href="javascript:void(0)" data-type="tab-2">Sản phẩm bán chạy</a></li>
					<li><a href="javascript:void(0)" data-type="tab-3">Sản phẩm sắp về</a></li>
				</ul>
			</div>
			<div class="product-figure-wrapper">
				<div class="tab-content">
					<div class="tab-panel active" id="tab-1">
						{{ special }}
					</div>
					<div class="tab-panel" id="tab-2">
						{{ bestseller }}
					</div>
					<div class="tab-panel" id="tab-3">
						{{ newest }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="view-more" id="view-more"><a href="#">Xem thêm</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ blog }}

{{ branch }}

{{ home_video }}

{{ block }}
			
{{ footer }}