{{ header }}
<section class="kingsport-home-1v3">
	<div class="container">
		<div class="home-wrapper">
            
			<div class="home-video-wrapper">
				<div class="row no-gutters">
					{{ home_banner }}
				</div>
			</div>

		</div>
	</div>
</section>

{{ mobile_home_banner }}

{{ mobile_home_menu }}

{{ recently_viewed }}

<section class="product-discount">
	<div class="container">
		<div class="product-wrapper">
			<div class="product-tab-nav">
				<ul id="product-discount">
					<li class="active"><a href="javascript:void(0)" data-type="tab-1">Sản phẩm khuyến mãi</a></li>
					<li><a href="javascript:void(0)" data-type="tab-2">Sản phẩm bán chạy</a></li>
					<li><a href="javascript:void(0)" data-type="tab-3">Sản phẩm sắp về</a></li>
				</ul>
			</div>
			<div class="product-figure-wrapper">
				<div class="tab-content">
					<div class="tab-panel active" id="tab-1">
						{{ special }}
					</div>
					<div class="tab-panel" id="tab-2">
						{{ bestseller }}
					</div>
					<div class="tab-panel" id="tab-3">
						{{ newest }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ block }}

{{ blog }}

{{ home_video }}

{{ product_other }}

{{ branch }}
<script>
	$('.laptop-navigation-all').addClass('active');
</script>
{{ footer }}