{{ header }}
<section class="kingsport-home-1v3">
	<div class="container">
		<div class="home-wrapper">
			
            {{ home_menu }}
            
			<div class="home-video-wrapper">
				<div class="row no-gutters">
					<div class="col-9 box">
						<div class="video-content">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/8oiLRkgfsOU" allowfullscreen=""></iframe>
						</div>
					</div>
					<div class="col-3 box">
						<div class="row no-gutters">
							<div class="col-12"><a href="#">
									<figure class="figure">
										<div class="figure-image"><img class="img-fluid" src="./images/options-1/home-image-1v2.png" alt="Đại lễ gia đình nhiều ưu đãi"></div>
									</figure></a></div>
							<div class="col-12"><a href="#">
									<figure class="figure">
										<div class="figure-image"><img class="img-fluid" src="./images/options-1/home-image-2v2f.png" alt="Trả góp đơn giản lãi suất thấp bất ngờ"></div>
									</figure></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="mobile-home-slider">
	<div class="swiper-container" id="swiper-home-slide">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img class="img-fluid" src="./images/options-1/home-mobile-slide-image.png" alt="Khuyen mai thang 5"></div>
			<div class="swiper-slide"><img class="img-fluid" src="./images/options-1/home-mobile-slide-image.png" alt="Khuyen mai thang 5"></div>
		</div>
	</div>
</section>
<section class="mobile-nav">
	<div class="swiper-container" id="swiper-mobile-nav">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-1.svg" alt="icon-mobile-ghemassage">
					<div class="swiper-slide-caption">
						<p>ghế massage</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-2.svg" alt="icon-mobile-giantadanang">
					<div class="swiper-slide-caption">
						<p>giàn tạ đa năng</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-3.svg" alt="icon-mobile-giaythethao">
					<div class="swiper-slide-caption">
						<p>giày thể thao</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-4.svg" alt="icon-mobile-maychaybo">
					<div class="swiper-slide-caption">
						<p>máy chạy bộ</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-5.svg" alt="icon-mobile-mayhutchankhong">
					<div class="swiper-slide-caption">
						<p>máy hút chân không</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-6.svg" alt="icon-mobile-mayrunggiamcan">
					<div class="swiper-slide-caption">
						<p>máy rung giảm cân</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-7.svg" alt="icon-mobile-mayxaysinhto">
					<div class="swiper-slide-caption">
						<p>máy xay sinh tố</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-8.svg" alt="icon-mobile-quatdieuhoa">
					<div class="swiper-slide-caption">
						<p>quạt điều hòa</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-9.svg" alt="icon-mobile-sanphamkhac">
					<div class="swiper-slide-caption">
						<p>sản phẩm khác</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-10.svg" alt="icon-mobile-sanphamthanhly">
					<div class="swiper-slide-caption">
						<p>sản phẩm thanh lý</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-11.svg" alt="icon-mobile-thamlotsan">
					<div class="swiper-slide-caption">
						<p>thảm lót sàn</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-12.svg" alt="icon-mobile-thietbiphonggym">
					<div class="swiper-slide-caption">
						<p>thiết bị phòng gym</p>
					</div></a></div>
			<div class="swiper-slide"><a href="#"><img src="./images/icon-mobile/icon-svg-13.svg" alt="icon-mobile-xedapthethao">
					<div class="swiper-slide-caption">
						<p>xe đạp thể thao</p>
					</div></a></div>
		</div>
	</div>
</section>

{{ recently_viewed }}


<section class="product-discount">
	<div class="container">
		<div class="product-wrapper">
			<div class="product-tab-nav">
				<ul id="product-discount">
					<li class="active"><a href="javascript:void(0)" data-type="tab-1">Sản phẩm khuyến mãi</a></li>
					<li><a href="javascript:void(0)" data-type="tab-2">Sản phẩm bán chạy</a></li>
					<li><a href="javascript:void(0)" data-type="tab-3">Sản phẩm sắp về</a></li>
				</ul>
			</div>
			<div class="product-figure-wrapper">
				<div class="tab-content">
					<div class="tab-panel active" id="tab-1">
						{{ special }}
					</div>
					<div class="tab-panel" id="tab-2">
						{{ bestseller }}
					</div>
					<div class="tab-panel" id="tab-3">
						{{ news }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="view-more" id="view-more"><a href="#">Xem thêm</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
			
{{ footer }}