<div class="sidebar-wrapper" id="sidebar-wrapper">
	<ul class="sidebar-menu">
        {% for category in categories %}  
        {% if category.children %}
		<li class="have-children"><a href="{{ category.href }}">{{ category.name }}</a>
			<ul>{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                {% for child in children %}
				<li><a href="{{ child.href }}">{{ child.name }}</a></li>
				{% endfor %}
                                {% endfor %}
			</ul>
		</li>
        {% else %}
		<li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
	</ul>
</div>