{{ header }}
<div class="article-title">
    <h2>{{ heading_title }}</h2>
</div>
<div class="breadcrumb-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3">

            {{ video_menu }}

            <section class="news-sidebar">
                <div class="desktop-title-2"><span class="text">Vì sao chọn  chúng tôi</span></div>
                <div class="card-new-wrapper">
                    <div class="card-news">
                        <div class="card-image"><img src="catalog/view/theme/kingsport/image/options-1/news/card-1.png" alt="Mang lại sức khỏe , hạnh phúc cho người dân việt"></div>
                        <div class="card-caption">
                            <p>Mang lại sức khỏe , hạnh phúc cho người dân việt</p>
                        </div>
                    </div>
                    <div class="card-news">
                        <div class="card-image"><img src="catalog/view/theme/kingsport/image/options-1/news/card-2.png" alt="Mang lại sức khỏe , hạnh phúc cho người dân việt"></div>
                        <div class="card-caption">
                            <p>Mang lại sức khỏe , hạnh phúc cho người dân việt</p>
                        </div>
                    </div>
                    <div class="card-news">
                        <div class="card-image"><img src="catalog/view/theme/kingsport/image/options-1/news/card-3.png" alt="Mang lại sức khỏe , hạnh phúc cho người dân việt"></div>
                        <div class="card-caption">
                            <p>Mang lại sức khỏe , hạnh phúc cho người dân việt</p>
                        </div>
                    </div>
                    <div class="card-news">
                        <div class="card-image"><img src="catalog/view/theme/kingsport/image/options-1/news/card-4.png" alt="Mang lại sức khỏe , hạnh phúc cho người dân việt"></div>
                        <div class="card-caption">
                            <p>Mang lại sức khỏe , hạnh phúc cho người dân việt</p>
                        </div>
                    </div>
                </div>
                <div class="news-image"><img src="catalog/view/theme/kingsport/image/options-1/news/banner.jpg" alt="Mạng lưới hệ thống toàn quốc"></div>
            </section>
        </div>

        <div class="col-12 col-lg-9">
            <section class="media-iframe">
                <div class="media-wrapper">
                    {{ url|raw }}
                </div>
                <div class="media-title">
                    <h2>{{ heading_title }}</h2>
                    {#<span>Xem thêm chi tiết thông số kỷ thuật</span>#}
                </div>
            </section>
            <section class="social-network-comment">
                <div class="media-social-network">
                    <div class="social-button">
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    </div>
                    <div class="social-article"><a class="mr" href="#"><em class="mdi mdi-file-document-box-multiple-outline"></em>
                            <p>Viết phản hồi</p></a><a href="#"><em class="mdi mdi-share"></em>
                            <p>Chia sẻ</p></a></div>
                </div>
                <div class="social-opinion">
                    <h2>Lorem ipsum dolor sit amet consectetur </h2>
                    <textarea class="form-control" rows="10" cols="69"></textarea>
                </div>
                <div class="social-comment">
                    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>
                </div>
            </section>
            <section class="media-iframe">
                <div class="other-media-1">
                    <h2>Các video khác</h2>
                    <div class="media-fancyapp-wrapper">
                        {% for video in videos %}
                        <div class="media-fancy"><a data-fancybox="" href="{{ video.youtube }}">
                                <div class="fancy-image">
                                    <img class="card-img-top img-fluid" src="{{ video.thumb }}">
                                </div>
                                <h5>{{ video.title }}</h5></a></div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            {#<section class="pagination-verification">#}
                {#<ul style="justify-content: flex-start;">#}
                    {#<li class="active"><a href="#">1</a></li>#}
                    {#<li><a href="#">2</a></li>#}
                    {#<li><a href="#">3</a></li>#}
                    {#<li><a href="#"><em class="mdi mdi-chevron-right"></em></a></li>#}
                {#</ul>#}
            {#</section>#}
        </div>

    </div>
</div>
<!--Next-->
{{ footer }}