<h2>Sản phẩm bán chạy</h2>
<div class="swiper-container" id="swiper-product-deal-best-sell-nested-2v2">
	<div class="swiper-wrapper">
    
		{% for product in products %}
		<div class="swiper-slide">
			<figure class="figure">
				{% if product.hot %}
                <div class="hot-item">
                  <h5>Hot</h5>
                </div>
                {% endif %}
				<div class="figure-image">
                <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
					<div class="add-cart">
						<ul>
							<li><a onclick="wishlist.add('{{ product.product_id }}');"><i class="mdi mdi-heart"></i></a>
	                            <div class="label">
	                                <p>SP yêu thích</p>
	                            </div>
	                        </li>
	                        <li><a onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="mdi mdi-cart"></i></a>
	                            <div class="label">
	                                <p>Cho vào giỏ hàng </p>
	                            </div>
	                        </li>
	                        <li><a href="{{ product.href }}"><i class="mdi mdi-eye"></i></a>
	                            <div class="label">
	                                <p>Xem Chi tiết</p>
	                            </div>
	                        </li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
                    {% if product.price %}
                        <div class="caption-price"> 
                            {% if not product.special %}
                            <h5>{{ product.price }}<span></span></h5>
                            {% else %}
                            <p>
    							<s>{{ product.price }}</s>{{ product.percent }}
    						</p>
    						<h5>{{ product.special }}<span></span></h5>
                            {% endif %}
                        </div>
                    {% endif %}
					<a href="{{ product.href }}"><h5>{{ product.name }}</h5></a>
					<div class="gift">
						{{ product.gift|raw }}
					</div>
				</div>
			</figure>
		</div>
		{% endfor %}
        
	</div>
</div>
<div class="swiper-pagination-wrapper">
	<div class="swiper-pagination swiper-pagination-product-discount-2"></div>
</div>

<div class="row">
	<div class="col-12">
		<div class="view-more" id="view-more"><a href="{{ readmore }}">Xem thêm</a></div>
	</div>
</div>
