<section class="product-recently">
	<div class="container">
		<div class="product-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="product-recently-title">
						<h2>Sản phẩm đã xem</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="product-recently-wrapper">
						<div class="swiper-container" id="product-recently-init">
							<div class="swiper-wrapper">
                                {% for product in products %}
								<div class="swiper-slide">
                                    <a href="{{ product.href }}">
										<div class="swiper-item">
											<div class="swiper-image">
                                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></div>
											<div class="swiper-caption">
												<p>{{ product.category_name }}</p>
												<h5>{{ product.name }}</h5>
											</div>
										</div>
                                    </a>
                                </div>
								{% endfor %}
							</div>
							<div class="button-prev-recent"><i class="mdi mdi-chevron-left"></i></div>
							<div class="button-next-recent"><i class="mdi mdi-chevron-right"></i></div>
						</div>
						<div class="swiper-pagination-wrapper">
							<div class="swiper-pagination swiper-pagination-product-recently"></div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="row">
				<div class="col-12">
					<div class="view-more" id="view-more"><a href="#">Xem thêm</a></div>
				</div>
			</div>-->
		</div>
	</div>
</section>