{{ header }}
<div class="article-title">
    <h2>{{ heading_title }}</h2>
    <div class="find-showroom">
        <input type="submit" value="Tìm cửa hàng gần nhất">
    </div>
</div>
<div class="breadcrumb-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
<!--Next-->
<section class="showroom-wrapper">
    <div class="container">
        <div class="row">

            {% for branch_child in branches %}
            <div class="col-12 col-xl-6">
                <div class="figure">
                    
                    <div class="figure-image">
                        <img src="//chart.apis.google.com/chart?chf=a,s,000000|bg,s,FFFFFF&chs=150x150&chld=M|1&cht=qr&chl={{ branch_child.qrCode }}&choe=UTF-8" alt="">
                    </div>
                    
                    <div class="figure-caption">
                        <h5>{{ branch_child.title }}</h5>
                        <p><i class="fa fa-home" aria-hidden="true"></i> Địa chỉ: {{ branch_child.address }}</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> Điện thoại: {{ branch_child.phone }}</p>
                        <p>{% if branch_child.parking %}(Có chỗ đậu ô tô){% endif %}</p>
                        <div class="figure-fancy">
                            <p>Hình ảnh chi tiết</p>

                            <a data-fancybox="" data-options="{&quot;iframe&quot; : {&quot;css&quot; : {&quot;width&quot; : &quot;80%&quot;, &quot;height&quot; : &quot;80%&quot;}}}" 
                            href="https://maps.google.com/maps?output=embed&amp;hl=vn&amp;q={{ branch_child.lat }}, {{ branch_child.lng }}&amp;z=17">

                                <img src="catalog/view/theme/kingsport/image/options-1/showroom/sr-1-1.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{{ footer }}