{{ header }}
<div class="article-title">
    <h2>{{ heading_title }}</h2>
</div>
<div class="breadcrumb-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
<!--Next-->
<section class="verification-award">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image"><img src="./images/options-1/verification/1.jpg" alt=""></div>
                    <div class="figure-caption">
                        <h5>sản phẩm UY tín do người tiêu dùng bình chọn Là tập đoàn bán lẻ</h5>
                        <p>Là tập đoàn bán lẻ hàng đầu Việt Nam trong lĩnh vực thể thao, cung cấp các sản phẩm và dịch vụ theo chuẩn mực quốc tế với giá cả hợp lý, với mong muốn mang lại sức khỏe và thịnh vượng cho dân tộc.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image"><img src="./images/options-1/verification/2.jpg" alt=""></div>
                    <div class="figure-caption">
                        <h5>Giải thưởng sản phẩm vì sức khoẻ cộng đồng Là tập đoàn bán lẻ h</h5>
                        <p>Là tập đoàn bán lẻ hàng đầu Việt Nam trong lĩnh vực thể thao, cung cấp các sản phẩm và dịch vụ theo chuẩn mực quốc tế với giá cả hợp lý, với mong muốn mang lại sức khỏe và thịnh vượng cho dân tộc.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image"><img src="./images/options-1/verification/3.jpg" alt=""></div>
                    <div class="figure-caption">
                        <h5>sản phẩm UY tín do người tiêu dùng bình chọn Là tập đoàn bán lẻ</h5>
                        <p>Là tập đoàn bán lẻ hàng đầu Việt Nam trong lĩnh vực thể thao, cung cấp các sản phẩm và dịch vụ theo chuẩn mực quốc tế với giá cả hợp lý, với mong muốn mang lại sức khỏe và thịnh vượng cho dân tộc.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image"><img src="./images/options-1/verification/4.jpg" alt=""></div>
                    <div class="figure-caption">
                        <h5>sản phẩm UY tín do người tiêu dùng bình chọn Là tập đoàn bán lẻ</h5>
                        <p>Là tập đoàn bán lẻ hàng đầu Việt Nam trong lĩnh vực thể thao, cung cấp các sản phẩm và dịch vụ theo chuẩn mực quốc tế với giá cả hợp lý, với mong muốn mang lại sức khỏe và thịnh vượng cho dân tộc.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image"><img src="./images/options-1/verification/5.jpg" alt=""></div>
                    <div class="figure-caption">
                        <h5>sản phẩm UY tín do người tiêu dùng bình chọn Là tập đoàn bán lẻ</h5>
                        <p>Là tập đoàn bán lẻ hàng đầu Việt Nam trong lĩnh vực thể thao, cung cấp các sản phẩm và dịch vụ theo chuẩn mực quốc tế với giá cả hợp lý, với mong muốn mang lại sức khỏe và thịnh vượng cho dân tộc.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image"><img src="./images/options-1/verification/6.jpg" alt=""></div>
                    <div class="figure-caption">
                        <h5>sản phẩm UY tín do người tiêu dùng bình chọn Là tập đoàn bán lẻ</h5>
                        <p>Là tập đoàn bán lẻ hàng đầu Việt Nam trong lĩnh vực thể thao, cung cấp các sản phẩm và dịch vụ theo chuẩn mực quốc tế với giá cả hợp lý, với mong muốn mang lại sức khỏe và thịnh vượng cho dân tộc.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image"><img src="./images/options-1/verification/7.jpg" alt=""></div>
                    <div class="figure-caption">
                        <h5>Giải thưởng sản phẩm vì sức khoẻ cộng đồng Là tập đoàn bán lẻ h</h5>
                        <p>Là tập đoàn bán lẻ hàng đầu Việt Nam trong lĩnh vực thể thao, cung cấp các sản phẩm và dịch vụ theo chuẩn mực quốc tế với giá cả hợp lý, với mong muốn mang lại sức khỏe và thịnh vượng cho dân tộc.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image"><img src="./images/options-1/verification/8.jpg" alt=""></div>
                    <div class="figure-caption">
                        <h5>sản phẩm UY tín do người tiêu dùng bình chọn Là tập đoàn bán lẻ</h5>
                        <p>Là tập đoàn bán lẻ hàng đầu Việt Nam trong lĩnh vực thể thao, cung cấp các sản phẩm và dịch vụ theo chuẩn mực quốc tế với giá cả hợp lý, với mong muốn mang lại sức khỏe và thịnh vượng cho dân tộc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pagination-verification">
    <div class="container">
        <ul style="justify-content: center;">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><em class="mdi mdi-chevron-right"></em></a></li>
        </ul>
    </div>
</section>
{{ footer }}