{{ header }}
<div class="article-title">
    <h2>{{ heading_title }}</h2>
</div>
<div class="breadcrumb-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
<!--Next-->
<section class="verification-award">
    <div class="container">
        <div class="row">
            {% for prize in prizes %}
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="figure">
                    <div class="figure-image">
                        {% if prize.thumb %}
                        <img src="{{ prize.thumb }}" alt="" />
                        {% endif %}
                    </div>
                    <div class="figure-caption">
                        <h5>{{ prize.title }}</h5>
                        <p>{{ prize.intro }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--<section class="pagination-verification">
    <div class="container">
        <ul style="justify-content: center;">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><em class="mdi mdi-chevron-right"></em></a></li>
        </ul>
    </div>
</section>-->
{{ footer }}