{{ header }}
<div class="article-title">
  <h2>{{ heading_title }}</h2>
</div>
<div class="breadcrumb-wrapper">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
      </ol>
    </nav>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-xl-3">
        {{ blog_menu }}
    </div>
    <div class="col-12 col-xl-9">
        {{ description }}
    </div>
  </div>
</div>
{{ footer }}