{{ header }}
<div class="article-title">
    <h2>Lorem ipsum dolor sit, amet </h2>
</div>
<div class="breadcrumb-wrapper" style="margin-bottom:0;">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
<div class="product-filter-nav-wrapper">
    <div class="container">
        <div class="product-filter-nav">
            <div class="nav-left">
                <h2>Chọn mức giá:</h2>
                <div class="price-filter">
                    <ul>
                        <li><a href="#">Dưới 2 tiệu</a></li>
                        <li><a href="#">Từ 2-4 triệu</a></li>
                        <li><a href="#">Từ 4-7 triệu</a></li>
                        <li><a href="#">Từ 7-13 triệu</a></li>
                        <li><a href="#">Trên 13 triệu</a></li>
                    </ul>
                </div>
                <div class="price-check">
                    <ul>
                        <li>
                            <input type="checkbox" value="Mới">
                            <label>Mới</label>
                        </li>
                        <li>
                            <input type="checkbox" value="Thanh lý">
                            <label>Thanh lý</label>
                        </li>
                        <li>
                            <input type="checkbox" value="Trả góp 0%">
                            <label>Trả góp 0%</label>
                        </li>
                    </ul>
                </div>
                <div class="select-option">
                    <label>
                        <select class="custom-select-option"><span></span>
                            <option selected="">Tính năng</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="nav-right">
                <div class="select-sort">
                    <label>
                        <select class="custom-select-sort">
                            <option selected="">Sắp xếp</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Next-->

<section class="product-display">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-title">
                    <h2>{{ heading_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="figure">
                    <div class="hot-item">
                        <h5>Hot</h5>
                    </div>
                    <div class="figure-image">
                        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                        <div class="add-cart">
                            <ul>
                                <li><a data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="mdi mdi-heart"></i></a>
                                    <div class="label">
                                        <p>Lưu sản phẩm</p>
                                    </div>
                                </li>
                                <li><a onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="mdi mdi-cart"></i></a>
                                    <div class="label">
                                        <p>Giỏ hàng</p>
                                    </div>
                                </li>
                                <li><a href="{{ product.href }}"><i class="mdi mdi-eye"></i></a>
                                    <div class="label">
                                        <p>Chi tiết</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="figure-caption">
                        <div class="caption-price">
                            {% if not product.special %}
                                <h5>{{ product.price }}<span>đ</span></h5>
                            {% else %}
                                <p>
                                    <s>{{ product.price }}đ</s>(-19%)
                                </p>
                                <h5>{{ product.special }}<span>đ</span></h5>
                            {% endif %}
                        </div>
                        <h5>{{ product.name }}</h5>
                        <div class="gift"><img src="./images/options-1/product-icon-1.png" alt="Sản phẩm tặng kèm">
                            <p>Tặng 30 kg tạ</p>
                        </div>
                        <div class="gift"><img src="./images/options-1/product-icon-2.png" alt="Sản phẩm tặng kèm">
                            <p>Tặng máy đo huyết áp</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <div class="watch-more"><a href="#">Xem toàn bộ sản phẩm </a></div>
            </div>
        </div>
    </div>
</section>

<section class="social-network-media-player-2">
    <div class="container">
        <div class="social-media-player-wrapper">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="media-title-2">
                        <h2>Giới thiệu về máy chạy bộ</h2>
                    </div>
                </div>
                <div class="col-12 col-xl-9 line">
                    <div class="social-media-content">
                        <iframe width="100%" height="480" src="https://www.youtube.com/embed/8oiLRkgfsOU"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-12 col-xl-3 line">
                    <div class="social-media-caption">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod ea, quis similique facilis
                            tempora deserunt veritatis blanditiis consectetur itntium! Delectus, quae et!</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum fuga odit sapiente culpa
                            provident atque beatae aspernatur modi voluptatem itur, sunt cum?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, non aliquam, porro
                            excepturi inventore laboriosam eveniet molestiae eaque vel nemo dicta blanditiis </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ footer }} 
