{{ header }}
<div class="article-title">
    <h2>{{ heading_title }}</h2>
</div>
<div class="breadcrumb-wrapper" style="margin-bottom:0;">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
{% if success %}
<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
{% endif %}
{% if error_warning %}
<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
<section class="product-original-v3 account-page">
  <div class="container">
    <div class="product-title-wrapper">
      <div class="product-tab-nav">
        <ul id="category-mega-nav-3">
          <li class="active"><a data-type="tab-category-1">Đăng nhập</a></li>
          <li><a href="{{ register }}" data-type="tab-category-2">Đăng ký</a></li>
        </ul>
      </div>
    </div>
    <div class="product-wrapper account-form">
      <div class="row no-gutters">
        <div class="col-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
          <div class="well">
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i aria-hidden="true" class="fa fa-envelope"></i></span>
                  <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                  
                  </div>                      
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i aria-hidden="true" class="fa fa-key"></i></span>
                  <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" autocomplete="new-password" />
                </div>
                <a class="btn-forgot" href="{{ forgotten }}">{{ text_forgotten }}</a>  
              </div>
              {{ opc_login }}
              <button type="submit" value="" class="btn btn-primary btn-submit"><span>{{ button_login }}</span></button>
              {% if redirect %}
              <input type="hidden" name="redirect" value="{{ redirect }}" />
              {% endif %}
            </form>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
</section>
{{ footer }}