{{ header }}
<div class="article-title">
  <h2>{{ heading_title }}</h2>
</div>
<div class="breadcrumb-wrapper">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
      </ol>
    </nav>
  </div>
</div>
<section class="product-original-v3 account-page">
  <div id="error-not-found" class="container">
    <div class="product-title-wrapper text-center {{ class }}">
        <p>{{ text_error }}</p>
        <div class="buttons clearfix">
          <div class=""><a href="{{ continue }}" class="btn btn-site btn-primary">{{ button_continue }}</a></div>
        </div>
    </div>
  </div>
</section>

{{ footer }}
